<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../images/temp-favicon-svg.svg" type="image/svg+xml">
        <link rel="icon" href="../images/temp-favicon-ico.ico" sizes="any">
        <link rel="apple-touch-icon" href="../images/temp-favicon-apple.png">
        <link rel="stylesheet" href="../css/ContactPage.css">
        <script src="../js/ContactPage.js" defer></script>
        <title>Contact Us</title>
    </head>
    <body>
        <div class="app-container">
            <div class="form-card flex-form">
                <header>Contact Us</header>
                <form class="flex-form">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" id="first-name">

                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" id="last-name">
                    
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email">
                    
                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>

                    <button type="submit" class="submit-button">Submit</button>

                </form>
        </div>
    </body>
</html>